@media screen and (max-width: 1300px){
    .about .container-about .about-contac i{ width:90%; }
    .about-me{height: 770px;}
}
@media screen and (max-width:900px){
    .knowledge .card .content-card{ width: 90%;height: 400px; }
}
@media screen and (max-width: 1000px){
    .knowledge .card .content-card{height: 450px;}
}
@media screen and (max-width:700px){
    .image-me{ width: 90%; }
    .description-me{ width: 90%; }
    .container{flex-direction: column;padding-bottom: 15px;}
    nav .navigation a{font-size: 13px;}
    .project .card .content-card{height: 500px}
}
@media screen and (max-width:600px){
    .knowledge{ width: 100%; }
    .about-me{ width: 100%; }
    .project{ width: 100%; }
    .social-red{ width: 100%; }
    .about{ width: 100%; }
    nav .navigation a{font-size: 11px;margin-right: 2px;}
}
@media screen and (max-width:400px){
    .knowledge .card .content-card{ height: 450px; }
}
    
