*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
/*header*/
.headBoard{
    width: 100%;
    height:100vh;
    background:  url("../img/presentacion.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
nav{
    width: 100%;
    position: fixed;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.5)
}
/*Container nav background*/
.nav-page{
    background: linear-gradient(to bottom,
        hsla(0, 0%, 11%),
        rgba(18, 19, 19),
        rgba(10, 10, 10)
    ) ;
    height: 10vh;
    color:#fff;
}
/*Container in nav*/
.container{
    display: flex;
    margin: auto;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    max-width:95%;
    height:inherit;
    overflow: hidden;
}
nav .navigation a{
    display: inline-block;
    margin-right: 2vw;
    font-size: 1.6vw;
    font-weight: 300;
    text-decoration: none;
    border-bottom: 3px solid transparent; 
    color: inherit;
  }
  
nav .navigation a:hover{
    border-bottom: 3px solid #1498a4;
    transition: 0.6s;
}
.logo, .logo img{ 
    font-size: 2.7vw;
}
.text{
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color:#000000;
    overflow: hidden;
    text-align: center;
    padding-bottom: 85px;
}
.text-container{
    background-color: #ebebeb;
    border: 2px solid #000000;
    border-radius: 40px;
    padding: 30px 0;
}
.text h1{
    font-size: 3.5vw;
    margin: 4vh;
}
.text h2{
    font-size: 2.5vw;
    margin: 2vh;
}

/*Secciones*/
/*Mis conocimientos*/
.knowledge{
    margin: auto;
    padding: 60px 0;
    width: 90%;
    text-align: center;
    overflow: hidden;
}

h3{
    display: block;
    font-size: 28px;
    color: #000000;
    border-bottom: solid 5px #F4BD76;
    margin-bottom: 20px;
}
.card{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.knowledge .card .content-card{
    width: 41%;
    box-shadow: 0 0 6px 0 rgba(0,0,0,.5);
    overflow: hidden;
    height:385px;
    margin-bottom: 10px;
}
.subtitle{
    margin: auto;
    width: 50%;
    border-bottom: solid 5px #989cdb;
    font-size: 25px;
    height: 20%;
}
.knowledge .card .content-card .image{
    margin-top: 20px;
    height: 30%;
}
  
.knowledge .card .content-card .image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
  
.knowledge .card .content-card .text-description{
    height: 50%;
    width: 95%;
    padding: 20px 10px 20px 0;
    margin-left: 20px;
    text-align: justify;
    text-indent: 10px;
    line-height: 25px;
}
.knowledge .card .content-card .text-description ul li{
    text-indent: 20px;
}
.correction-colums{
    margin-left: 10px;
    text-indent: 10px;
    column-count: 2;
    text-align: justify;
}
  /*Sobre mi*/
.about-me{
    margin: auto;
    padding: 60px 0;
    width: 90%;
    height: 100%;
    text-align: center;
    overflow: hidden;
}
.container-about-me{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.img-me{
    width: 50%;
    height: 100%;
    margin: auto;
}
.img-me img{
    object-fit: contain;
    width: 100%;
    height: 100%;
    border-radius: 100px;
}
.description-me{
    margin: auto;
    width: 45%;
    text-align: justify;
    text-indent: 10px;
    line-height: 30px;
}
.description-me p{
    font-size: 22px;
    
}
.description-me a{
    font-size: 23px;
    font-weight: 300;
    text-decoration: none;
    border-bottom: 3px solid transparent; 
    color: inherit;
}
.description-me a:hover{
    text-decoration: underline;
}
/*Projects*/
.project{
    margin: auto;
    padding: 60px 0;
    width: 90%;
    text-align: center;
    overflow: hidden;
}
  
.project .card .content-card{
    width: 90%;
    box-shadow: 0 0 6px 0 rgba(0,0,0,.5);
    overflow: hidden;
    height: 410px;
  }
.project .card .content-card .image{
    margin-top: 30px;
    width: 100%;
    height: 40%;
}
.project .card .content-card .image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.project .card .content-card .text-description{
    width: 100%;
    height: 40%;
    font-size: 20px;
}
.project .card .content-card .text-description .description{
    padding-right: 0px;
    text-align: center;
    padding-bottom: 10px;
}
.project .card .content-card .text-description .link-project{
    width: 90%;
    margin: auto;
    text-align: center;
    display: block;
    padding: 5px 0;
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
    border-bottom: 3px solid transparent;
}
.project .card .content-card .text-description a{
    width: auto;
    background-color: #000000e0;
    color: #fff;
}
.project .card .content-card .text-description a:hover{
    background-color: #000000be;
}

/*Social red*/
.social-red{
    margin: auto;
    padding: 60px 0;
    width: 90%;
    text-align: center;
    overflow: hidden;
}
.container-social-red{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.container-social-red a{
    font-size: 30px;
    color: black;
    text-decoration: none;
}
/*about*/
.about{
    background: #000000c4;
    color: white;
    margin: auto;
    padding: 60px 0;
    width: 100%;
    text-align: center;
    overflow: hidden;    
}
.about .container-about{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.about .container-about .logo-contac{
    font-size: 30px;
    width: 100%;
}
.about .container-about .about-contac{
    margin-top: 20px;
    width: 100%;
}
.about .container-about .about-contac i{
    width: 40%;
    margin-top: 2vh;
    font-size: 25px;
}

